/* Base style */
body {
	margin: 0;
}

/* Header */
header {
	text-align: center;
	background: #666699;
	padding: 1%;
}

.nav-button {
	background-color: #ff3300;

	padding: 4px;

	border-style: solid;
	border-width: 2px;
	border-color: blue;

	font-family: serif;
	font-weight: bold;
}

#logo {
	margin-right: 50%;
}

#logout {
	margin-left: 40%;
}

/* Main */
h1 {
	text-align: center;
}

/* Footer */
footer {
	padding: 1%;
}

.footer-button {
	padding: 5px;
}

#agpl-logo {
	padding: 5px;
	width: 8%;
}
