.year-block {
	text-align: center;

	margin-left: 2%;
	margin-right: 2%;
}

.year-title {
	width: 10%;
	color: black;

	padding: 5px;

	margin-left: auto;
	margin-right: auto;
}

.year-video {
	display: block;

	margin-left: auto;
	margin-right: auto;
}
